* {
	font-family: BoschOfficeSans, Arial, sans-serif;
	line-height: 1.3;
	margin: 0;
	padding: 0;
}
#fleInp {
	cursor: pointer;
	font-size: initial;
	justify-content: center;
	margin-bottom: 6px;
	padding: 6px 12px;
	text-align: center;
	width: 100px;
}
#lodLim {
	font-size: initial;
	margin-bottom: 6px;
	padding: 6px 12px;
	text-align: center;
	width: 100px;
}
#lodRes {
	font-size: initial;
	margin-bottom: 6px;
	padding: 6px 12px;
	text-align: center;
	width: 100px;
}
.alc {
	align-items: center;
	justify-content: center;
	text-align: center;
}
.alr {
	justify-content: flex-end;
	text-align: right;
}
.c01 {
	grid-column-end: span 1;
}
.c02 {
	grid-column-end: span 2;
}
.c03 {
	grid-column-end: span 3;
}
.c04 {
	grid-column-end: span 4;
}
.c06 {
	grid-column-end: span 6;
}
.c07 {
	grid-column-end: span 7;
}
.c08 {
	grid-column-end: span 8;
}
.c09 {
	grid-column-end: span 9;
}
.c10 {
	grid-column-end: span 10;
}
.c11 {
	grid-column-end: span 11;
}
.c14 {
	grid-column-end: span 14;
}
.c17 {
	grid-column-end: span 17;
}
.c18 {
	grid-column-end: span 18;
}
.c22 {
	grid-column-end: span 22;
}
.ddc {
	display: none;
	position: absolute;
	z-index: 1;
}
.ddc .lng:hover {
	width: 50px;
}
.ddw {
	display: inline-block;
	padding-top: 8px;
	position: relative;
}
.ddw:hover .ddc {
	display: block;
}
.dsc {
	align-items: center;
	border: 0.5mm solid #eee;
	display: flex;
	font-size: 10px;
	padding: 2mm;
}
.ftn {
	align-items: center;
	border: 0.5mm solid #eee;
	display: flex;
	font-size: 12px;
	padding: 2mm;
}
.grd {
	display: grid;
	grid-auto-rows: 30px;
	grid-template-columns: 84px 14px 14px 28px 28px 70px 14px 35px 7px 14px 28px 14px 7px 63px 56px 28px 14px 14px 28px 28px 14px 70px;
}
.hdn {
	background: #008ecf;
	color: #fff;
	display: flex;
}
.hst {
	align-items: center;
	border: 0.5mm solid #eee;
	display: flex;
	font-size: 12px;
	font-weight: bold;
	padding: 2mm;
}
.htx {
	align-items: center;
	border: 0.5mm solid #eee;
	display: flex;
	font-weight: bold;
	padding: 2mm;
}
.hvl {
	align-items: center;
	/*background: #fdd78b;*/
	border: 0.5mm solid #eee;
	/* color: #00f; */
	display: flex;
	padding: 8px;
}
.lng {
	-webkit-transition: ease .2s;
	cursor: pointer;
	transition: ease .2s;
	width: 40px;
}
.r02 {
	grid-row-end: span 2;
}
.r03 {
	grid-row-end: span 3;
}
.r04 {
	grid-row-end: span 4;
}
.r05 {
	grid-row-end: span 5;
}
.r09 {
	grid-row-end: span 9;
}
.sld {
	-webkit-transition: .4s;
	background: #ccc;
	bottom: 0;
	cursor: pointer;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: .4s;
}
.sld::before {
	-webkit-transition: .4s;
	align-items: center;
	background: #fdd78b;
	bottom: 0%;
	color: #00f;
	content: '70';
	display: flex;
	height: 100%;
	left: 0;
	position: absolute;
	transition: .4s;
	justify-content: center;
	width: 50%;
}
.swt {
	border: 0.5mm solid #eee;
	display: inline-block;
	height: 100%;
	margin-bottom: 6px;
	padding: 6px 12px;
	position: relative;
	width: 100px;
}
.swt input {
	height: 0;
	opacity: 0;
	width: 0;
}
.tcl {
	align-items: center;
	border: 0.5mm solid #eee;
	display: flex;
	font-size: 12px;
	padding: 2mm;
}
.ttl {
	align-items: center;
	color: #008ecf;
	display: flex;
	font-size: 30px;
	justify-content: flex-end;
	padding: 15px 8px 8px;
	text-align: right;
}
.ttt {
	align-items: center;
	border: 0.5mm solid #eee;
	display: flex;
	font-size: 12px;
	font-weight: bold;
	padding: 2mm;
}
.tvl {
	align-items: center;
	border: 0.5mm solid #eee;
	display: flex;
	font-size: 12px;
	padding: 2mm;
}
.txt {
	align-items: center;
	grid-auto-rows: auto;
}
.vrs {
	align-items: center;
	color: #008ecf;
	display: flex;
	font-size: 12px;
	justify-content: flex-end;
	padding: 8px;
	text-align: right;
}
.xc1 {
	width: 20px;
}
.xc2 {
	width: 140px;
}
.xc3 {
	width: 60px;
}
.xc4 {
	font-family: 'Courier New', Courier, monospace;
}
.xln {
	padding-right: 10px;
	text-align: right;
}
.xls {
	background: #fff;
	border: 1px solid black;
}
.xlt {
	padding-left: 10px;
	text-align: left;
}
.xlx {
	background: #e6e6e6;
}
caption {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 5px;
	margin-top: 10px;
}
h3:not(:first-child) {
	margin-bottom: 10px;
	margin-top: 10px;
}
img {
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
input {
	background: none;
	border: none;
	color: #00f;
	font-size: 14px;
	width: 100%;
}
input[type = file] {
	display: none;
}
input[type = number] {
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	font-size: 12px;
	appearance: textfield;
}
input:checked + .sld::before {
	-ms-transform: translateX(100%);
	-webkit-transform: translateX(100%);
	content: '100';
	transform: translateX(100%);
}
input:focus + .sld {
	box-shadow: 0 0 1px #2196F3;
}
li:not(:first-child) {
	padding-top: 8px;
}
p {
	margin-bottom: 10px;
}
table {
	border-collapse: collapse;
	font-size: 12px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	text-align: center;
	width: 600px;
}
tr {
	height: 20px;
}
ul {
	padding: 8px 8px 15px 0;
}
ul > li {
	margin-left: 20px;
}
@font-face {
	font-family: BoschOfficeSans;
	src: url(../test12/fonts/BoschOfficeSans-Regular_V2_45.ttf);
}
@media print {
	* {
		color: #000!important;
	}
	a {
		text-decoration: none;
	}
	.cnt {
		height: 227mm;
	}
	.cpt {
		height: 203.5mm;
	}
	.dsc {
		border-left: none;
		border-right: none;
		border-top: none;
	}
	.ftn {
		border-left: none;
		border-right: none;
		border-top: none;
	}
	.ftr {
		height: 9mm;
		page-break-after: always;
	}
	.hdr {
		height: 40mm;
	}
	.hpr {
		height: 63.5mm;
	}
	.hst {
		border-left: none;
		border-right: none;
		border-top: none;
	}
	.htx {
		border-left: none;
		border-right: none;
		border-top: none;
	}
	.hvl {
		border-left: none;
		border-right: none;
		border-top: none;
	}
	.scr {
		display: none;
	}
	.tcl {
		border-left: none;
		border-right: none;
		border-top: none;
	}
	.ttt {
		border-left: none;
		border-right: none;
		border-top: none;
	}
	.tvl {
		border-left: none;
		border-right: none;
		border-top: none;
	}
}
@media screen {
	.dsc {
		background: #bfc0c2;
		color: #b00010;
	}
	.ftn {
		background: #008ecf;
		color: #fff;
	}
	.ftr {
		bottom: 0;
		position: fixed;
	}
	.hdr {
		background: #eee;
		height: 150px;
		position: fixed;
		top: 0;
		z-index: 1;
	}
	.hst {
		background: #008ecf;
		color: #fff;
	}
	.htx {
		background: #008ecf;
		color: #fff;
	}
	.hvl {
		background: #fdd78b;
		color: #00f;
	}
	.ooe {
		display: none;
	}
	.ooo {
		display: none;
	}
	.prn {
		display: none;
	}
	.tcl {
		background: #bfe3f3;
	}
	.ttt {
		background: #bfe3f3;
	}
	.tvl {
		background: #fdd78b;
		color: #00f;
	}
	.vpr {
		padding-bottom: 90px;
		position: absolute;
		top: 150px;
	}
	body {
		background: linear-gradient(0deg, rgba(238, 238, 238, 0.9), rgba(238, 238, 238, 0.9)), url('images/PRAESENSA Full Family_34L_2_Original_32395.jpg');
		background-attachment: fixed;
		background-position: center;
		margin: auto;
		width: 672px;
	}
}
@page {
	margin: 10mm 16mm;
}
